/* 
Theme: ProShine 
Author: Kamil M
*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

@keyframes appear{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.appear-anim{
  animation: appear 0.2s forwards;
}

@keyframes slideRight {
  from {
    clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
  }

  to {
    clip-path: polygon(0% 0%, 0% 100%, 90% 100%, 100% 0);
  }
}

@keyframes slideFromLeft {
  from {
    clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
    width: 0;
  }

  to {
    clip-path: polygon(0% 0%, 0% 100%, 95% 100%, 100% 0);
    width: 50%;
  }
}

@keyframes FadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

html {
  scroll-behavior: smooth;
  /* overflow-y: scroll; */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(85, 85, 85, 0.8);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444;
}

body {
  width: 100vw;
  background-color: rgb(25, 25, 25);
  overflow: overlay;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold !important;

  --text-main: rgb(220, 220, 220);
  --text-gold: rgb(211, 176, 89);
  --bck-main: rgb(29, 29, 29);
}

.loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  -webkit-backdrop-filter: blur(10px) brightness(0.3);
  backdrop-filter: blur(10px) brightness(0.3);
}

#wrapper {
  display: block;
}

#navbar-container {
  position: fixed;
  z-index: 20;
  opacity: 0;
  animation: appear 0.3s ease-in-out forwards;
  animation-delay: 0.5s;
}

.scrolling-active {
  background-color: var(--bck-main) !important;
  box-shadow: 0 0 10px rgba(9, 9, 9, 0.8) ;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 90px;
  object-fit: contain;
  background-color: rgba(29, 29, 29, 0);
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s;
}

#logo {
  max-height: 80px;
  margin-top: 0;
}

#logo-image {
  max-height: inherit;
  transition: 0.2s ease-in-out;
}

#navbar ul {
  display: flex;
  list-style: none;
  text-align: center;
  /* z-index: 30; */
}

#navbar > *{
  transition: transform 0.2s ease-in-out;
}

#navbar ul li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
  line-height: 30px;
  margin: 0 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-main);
  transition: color 0.4s, filter 0.3s;
}

#navbar ul li a:hover {
  color: white;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.24));
}

#navbar ul li:last-child a {
  color: var(--text-gold);
  transition: color 0.4s, filter 0.3s;
}

li:last-child a:hover {
  color: rgb(255, 217, 119);
}

header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  max-height: 100vh !important;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#header-bck{
  top: 0;
  position: absolute;
  width: 100%;
  height: inherit;
  overflow: hidden;
  z-index: -1;
}

#header-bck img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  will-change: transform;
  will-change: webkit-transform;
}

#header-bck::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) , transparent 50%);
}


#header-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  background-color: rgb(29, 29, 29, 0.5);
  backdrop-filter: blur(10px);
  color: var(--text-main);
  overflow: hidden;
  clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
  flex-shrink: 0;
  will-change: clip-path;
  animation: slideRight 0.7s forwards;
}

#header-main h1 {
  font-size: 60px;
  font-weight: lighter;
  width: 300px;
}

#list-container {
  width: auto;
  height: 40px;
  opacity: 0.8;
  overflow: hidden;
}

#list-container #list {
  list-style: none;
  font-size: 28px;
  font-weight: lighter;
}
#list-container #list .list-element {
  display: block;
  opacity: 0;
  transition: opacity 0.3s;
}

#header-main__scroll{
  position: absolute;
  opacity: 0;
  bottom: 10px;
  left: 42.5%;
  animation: appear 0.3s ease-in-out forwards;
  animation-delay: 3s;
}

main {
  background-color: rgb(25, 25, 25);
  overflow: hidden;
  transition: filter 0.3s;
}

section {
  min-width: 600px;
}

.article {
  width: 70vw;
  margin: 70px auto;
  color: var(--text-main);
  font-size: 18px;
  font-weight: lighter;
}

.call {
  color: var(--text-gold);
}

img {
  -webkit-user-drag: none;
}

#logos {
  margin: 0 auto 70px auto;
  width: 70vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
}

.show {
  animation: FadeUp 0.4s ease-in-out forwards;
}

#logos img {
  width: 150px;
  flex-basis: 15%;
  object-fit: contain;
  box-shadow: 0 0 1px rgb(25, 25, 25);
  transition: 0.3s;
  filter: grayscale(100);
  transition: 0.3s;
  opacity: 0;
}

#logos img:hover {
  filter: grayscale(0) blur(0);
}

#gallery {
  display: flex;
  align-items: center;
  height: 50vh;
  position: relative;
  overflow: hidden;
}

@keyframes slideshowLeft {
  from{
    left:-52.5%;
  }
  to{
     left:-105%
  }
}

@keyframes slideshowRight {
  from{
    left:-52.5%;
  }
  to{
    left:0
  }
}

#gallery-images {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* transition: left 0.6s ease-in-out; */
  /* animation: slideshowLeft 0.6s ease-in-out; */
  /* animation-name: slideshowLeft; */
  transition: 0.3s;
  /* animation-timing-function: ease-in-out; */
}


#gallery-images img{
  flex-shrink: 0;
  width: 50%;
  /* width: 25%; */
  object-fit: cover;
  border-right: 2px solid black;
}

#gallery #sidetext {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  float: right;
  width: 50%;
  height: 100%;
  background-color: rgb(29, 29, 29, 0.7);
  backdrop-filter: blur(10px);
  overflow: hidden;
  clip-path: polygon(
    101% 0%, 
    101% 0%,
    101% 101%,
    101% 101%
    );
    transition: clip-path 0.6s;
}

#gallery #sidetext .card__button{
  height: 40px;
  width: 200px;
  text-decoration: none;
}

.sidebox-animRight {
  clip-path: polygon(
   5% -1%, 
   101% -1%,
   101% 101%,
   0% 101%
   )!important;
}

#arrows {
  user-select: none;
  -webkit-user-drag: none;
  position: relative;
  left: -5%;
  flex-shrink: 0;
  filter: drop-shadow(0 0 7px black);
}

#arrows img {
  -webkit-user-drag: none;
  z-index: -1;
  user-select: none;
  /* filter: invert(90%); */
  height: 30px;
  transition: transform 0.2s;

}

#arrow-right,#gallery__arrow-right {
  transform: rotate(270deg);
}
#gallery__arrow-right:hover{
  transform: scale(1.1) rotate(270deg);
}

#arrow-left,#gallery__arrow-left {
  transform: rotate(90deg);
}
#gallery__arrow-left:hover{
  transform: scale(1.1) rotate(90deg);
}

#gallery #arrows{
  display: flex;
  justify-content: space-between;
  width: 50%;
  z-index: 5;
  left: 0;
}




#gallery #sidetext p {
  min-width: 40vw;
  margin: 50px;
  font-size: 18px;
  font-weight: lighter;
  color: var(--text-main);
}

#slider__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50vh;
  width: 100vw;
  background-image: url(../resources/images/final/before.jpeg);
  background-position: right;
  background-size: 100vw;
  cursor: w-resize;
}

#slider {
  filter: brightness(101%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  flex-shrink: 0;
  background-image: url(../resources/images/final/after.jpeg);
  background-position: 2px 50.1%;
  background-size: 100vw;
  clip-path: polygon(0% 0%, 0% 100%, 95% 100%, 100% 0);
  transition: width 0.1s;
  will-change: width;
}

.sidebox-animLeft {
  animation: slideFromLeft 0.6s ease-in-out;

}

.page-container#offer__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.page-container#offer__page h1 {
  font-size: 40px;
  font-weight: lighter;
  width: 90%;
  padding: 5px;
  color: var(--text-main);
}

.page-container#offer__page ul {
  width: 80%;
}

.page-container#offer__page ul li {
  height: 50px;
  color: var(--text-main);
  font-size: 18px;
  font-weight: lighter;
}

#offer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 70px auto 70px auto;
  width: 70vw;
}

#offer>a{
display: none;
}

#offer .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  min-height: 300px;
  max-height: 600px;
  height: 80vh;
  background-color: rgb(39, 39, 39);
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0;
}

#offer .card .card__image {
  height: 50%;
  width: 100%;
  background-position: center;
  background-attachment: local;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 1;
}

.card:nth-of-type(1) .card__image {
  background-image: url(../resources/images/final/powloka1.jpeg);
  background-position: center;
}

.card:nth-of-type(2) .card__image {
  background-image: url(../resources/images/final/dodge_interior.JPG);
}

.card:nth-of-type(3) .card__image {
  background-image: url(../resources/images/final/rs6wheel.jpeg);
}

.card .description {
  position: relative;
  padding: 0 5px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .description ul li {
  list-style: none;
  text-align: center;
  padding: 10px 0;
  color: var(--text-main);
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0%;
  width: 100%;
  background-color: var(--text-gold);
  flex-shrink: 0;
  transition: 0.3s;
  color: white;
  text-align: center;
  letter-spacing: 3px;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: underline;
  overflow: hidden;
}

.card__button:hover{
  background-color: rgb(151, 125, 60);

}

.card:hover .card__button {
  height: 10%;
}

.page-container#gallery__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.page-container#gallery__page h1 {
  font-size: 40px;
  font-weight: lighter;
  padding: 5px;
  color: var(--text-main);
}

#gallery__insta {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery__insta-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 270px;
  margin: 30px;
  height: 270px;
  /* padding-top: 33%; */
  /* border: 2px solid red; */
  background-position: center;
  background-size: cover;
  cursor: pointer;
  opacity: 0;
}

.gallery__insta-image p {
  width: 100%;
  height: 100%;
  padding: 5px;
  text-align: center;
  color: var(--text-main);
  backdrop-filter: blur(5px) brightness(50%);
  opacity: 0;
  transition: 0.3s;
  overflow: scroll;
}

.gallery__insta-image p::-webkit-scrollbar:horizontal{
  display: none;
}

.gallery__insta-image:hover p {
  opacity: 100;
}

#contact {
  display: flex;
  min-height: 300px;
  height: 50vh;
}

.page-container#contact{
  height: 80%;
}

#contact #contact__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50vw;
  background-color: var(--bck-main);
  color: var(--text-main);
}

#contact #contact__main h1 {
  font-size: 40px;
  font-weight: lighter;
  width: 70%;
  padding: 5px;
}

#contact__main-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  flex-basis: 300px;
}


#contact__main-content .address {
  width: 300px;
  font-weight: lighter;
  /* width: 70%; */
}

#contact__main-content .telephone {
  text-decoration: none;
  padding-bottom: 20px;
  font-size: 20px;
  
}

#contact__main-content .socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  /* height: 40%; */
}

#contact__main-content .socials img {
  width: 50px;
  filter: grayscale(100%);
  transition: 0.3s;
}

#contact__main-content .socials img:hover {
  filter: grayscale(0);
}

#contact .map {
  height: 100%;
  width: 50vw;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: rgb(25, 25, 25);
  overflow: hidden;
}

footer p {
  color: var(--text-main);
  font-size: 14px;
  font-weight: lighter;
}

/* other pages */

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
  backdrop-filter: blur(10px);
}

.page-container {
  min-width: 800px;
  min-height: 400px;
  height: 80%;
  width: 90%;
  background-color: var(--bck-main);
}

/* MOBILE VIEW   */

@media only screen and (max-device-width: 600px) {

  html{
    -webkit-overflow-scrolling: touch;
  }
  
  @keyframes slideTop {
    from {
      clip-path: polygon(0% 100%, 0% 101%, 101% 101%, 101% 101%);
    }
    to {
      clip-path: polygon(0% 10%, 0% 101%, 101% 101%, 101% 0%);
    }
  }

  #logo {
    z-index: 5;
    margin-top: 5px;
  }
  
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  
  #navbar ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
    margin-bottom: 30vh;
    padding-top:90px;
    background-color: var(--bck-main);
    clip-path: polygon(0% 0%, 101% 0%, 101% 0%, 0% 0%);
    transition: clip-path 0.3s, transform 0.3s !important;
    box-shadow: 0 0 15px rgba(9, 9, 9, 0.8) ;
  }
  .hamburger-slide{
    display: flex !important;
    clip-path: polygon(0% 0%, 101% 0%, 101% 101%, 0% 101%) !important;
  }

  #navbar ul li a {
    margin-top: 50px;
    font-size: 20px;
    line-height: 50px;
  }

  #header-bck img{
    object-position: 95%;
  }

  header {
    background-attachment: scroll;
    background-size: auto 120vh;
    align-items: flex-end;
    height: 100vh;
    will-change: height;
    transition: height 0.5s;
  }

  #header-main {
    width: 100vw;
    height: 40vh;
    backdrop-filter: blur(3px);
    background-color: rgb(29, 29, 29, 0.7);
    animation: slideTop 0.7s forwards;
  }

  section {
    min-width: 90%;
  }

  .article {
    font-size: 18px;
  }

  #gallery {
    flex-direction: column;
    height: 100vh;
    /* position: relative; */
  }

  #gallery-images {
    position: relative;
    order: 2;
  }

  #gallery-images img{
    width: 100%;
    height: 50vh;
  }

  #gallery #sidetext {
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: rgb(39, 39, 39);
    backdrop-filter: blur(0px);
    clip-path: polygon(0% 101%, 101% 101%, 101% 101%, 0% 101%);
    transition: clip-path 0.6s;
  }

  #gallery #sidetext p {
    margin: 20px;
  }

  .sidebox-animRight {
    clip-path: polygon(0% 0%, 101% 10%, 101% 101%, 0% 101%) !important;
  }

  #gallery #arrows{
    width: 100%;
    position: absolute;
    top: 72.5%;
  }

  #slider__container {
    margin-top: 70px;
    height: 25vh;
    background-position: left;
    background-size: 100vw;
  }

  #slider {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0);
  }

  #slider__container #arrows {
    left: -16%;
  }

  
  .page-container#offer__page h1{
    width: 100%;
    text-align: center;
  }

  .page-container#offer__page ul {
    min-width: 300px;
  }

  .page-container#offer__page ul li {
    width: auto;
  }

  #offer {
    flex-direction: column;
    width: 100vw;
  }

  #offer .card {
    width: 80%;
    min-height: 350px;
    height: 50vh;
    margin-top: 50px;
  }

  #offer>a{
    display: flex;
    margin-top: 50px;
    height: 40px;
    width: 200px;
    text-decoration: none;
  }

  .gallery__insta-image {
    flex: 0 0 150px;
    margin: 5px;
    height: 150px;
    width: 150px;
  }

  #contact {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  #contact #contact__main {
    width: 100vw;
    height: 50vh;
    justify-content: space-around;
  }

  #contact h1{
    width: 100%;
    text-align: center;
  }

  #contact__main-content .socials img:hover {
    filter: grayscale(0);
  }

  #contact .map {
    width: 100%;
    height: 50vh;
  }

  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    height: auto;
    backdrop-filter: none;
  }

  .page-container {
    min-width: 100% !important;
    padding-top: 60px;
    margin: 0;
  }
}
